name: Cocotb Test

on: 
  push:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.12

    - name: Install common dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y git autoconf g++ make gperf flex bison

    - name: Install Verilator
      run: |
        git clone https://github.com/verilator/verilator.git
        cd verilator
        git checkout v4.106
        autoconf
        ./configure
        make -j$(nproc)
        sudo make install
        verilator --version

    - name: Clean previous build artifacts
      run: |
        make clean || true
        rm -rf sim_build results.xml

    - name: Run cocotb tests
      env:
        COCOTB_REDUCED_LOG_FMT: 1
      run: |
        make SIM=verilator